*{
    background-color: rgb(205, 205, 233);
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
    h1,h3{
    text-align: center;
}
h1{
    color: brown;
}
h5{
    text-decoration: underline;
    color: blue;
    text-align: center;
}

